# Import csv file using read_csv

In [4]:
# Import modules
import pandas as pd
import numpy as np
from pathlib import Path
import sqlalchemy
%matplotlib inline
import hvplot.pandas
import plotly.graph_objects as go

In [18]:
# Read in the sp500 csv file from the Resources folder
spy_df = pd.read_csv(
    Path('./Resources/SPY.csv'),
    # index_col ='Date',
    parse_dates=True,
    infer_datetime_format=True
)

In [19]:
# Review the spy data
spy_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-11-03,125.269997,126.500000,123.599998,126.250000,103.951668,291174800
1,2011-11-04,125.230003,125.699997,124.010002,125.480003,103.317719,249401600
2,2011-11-07,125.389999,126.389999,124.199997,126.260002,103.959915,196617200
3,2011-11-08,126.919998,128.020004,125.709999,127.879997,105.293808,224426300
4,2011-11-09,124.889999,125.800003,122.860001,123.160004,101.407448,337982000

In [20]:
# Read in the gld csv file from the Resources folder
gld_df = pd.read_csv(
    Path('./Resources/GLD.csv'),
    # index_col ='Date',
    parse_dates=True,
    infer_datetime_format=True
)

In [21]:
# Review the gld data
gld_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2011-11-07,172.850006,175.000000,172.710007,174.979996,174.979996,20131900
1,2011-11-08,174.350006,175.460007,172.899994,173.529999,173.529999,16054200
2,2011-11-09,174.279999,174.809998,171.610001,172.070007,172.070007,12313900
3,2011-11-10,172.429993,172.589996,168.830002,171.139999,171.139999,11848700
4,2011-11-11,172.100006,174.050003,172.070007,173.960007,173.960007,8727100

In [22]:
# Read in the bnd csv file from the Resources folder
bnd_df = pd.read_csv(
    Path('./Resources/BND.csv'),
    # index_col ='Date',
    parse_dates=True,
    infer_datetime_format=True
)

In [23]:
# Review the GLD data
bnd_df.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2011-11-07  83.809998  84.110001  83.769997  83.910004  64.331070  2067200
1  2011-11-08  83.879997  83.949997  83.629997  83.650002  64.131729  1891400
2  2011-11-09  83.930000  83.930000  83.669998  83.750000  64.208420  1346800
3  2011-11-10  83.610001  83.769997  83.449997  83.650002  64.131729  2487500
4  2011-11-11  83.620003  83.639999  83.510002  83.589996  64.085754   698100

In [24]:
# Read in the BTC csv file from the Resources folder
btc_df = pd.read_csv(
    Path('./Resources/BTC.csv'),
    # index_col ='Date',
    parse_dates=True,
    infer_datetime_format=True
)

In [25]:
# Review the BTC Data
btc_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-11-05,330.683014,343.368988,330.683014,339.485992,339.485992,19817200.0
1,2014-11-06,339.458008,352.966003,338.424011,349.290009,349.290009,18797000.0
2,2014-11-07,349.817993,352.731995,341.776001,342.415009,342.415009,16834200.0
3,2014-11-08,342.153992,347.032013,342.153992,345.488007,345.488007,8535470.0
4,2014-11-09,345.376007,363.626007,344.255005,363.264008,363.264008,24205600.0

In [26]:
# Create a SQLite database named Muskies - put this db in same folder as this file
database_connection_string ='sqlite:///Muskies.db'

In [27]:
# Confirm that the database named Muskies was created
engine = sqlalchemy.create_engine(database_connection_string,echo=True)
engine

Engine(sqlite:///Muskies.db)

In [28]:
# Create the spy table
spy_df.to_sql('SPY', engine, index=False, if_exists='replace')

2021-11-05 15:18:30,413 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SPY")
2021-11-05 15:18:30,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:30,420 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SPY")
2021-11-05 15:18:30,422 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:30,431 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:30,437 INFO sqlalchemy.engine.Engine
CREATE TABLE "SPY" (
	"Date" TEXT,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Adj Close" FLOAT,
	"Volume" BIGINT
)


2021-11-05 15:18:30,440 INFO sqlalchemy.engine.Engine [no key 0.00293s] ()
2021-11-05 15:18:30,448 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:30,459 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:30,503 INFO sqlalchemy.engine.Engine INSERT INTO "SPY" ("Date", "Open", "High", "Low", "Close", "Adj Close", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?)
2021-11-05 15:18:30,504 INFO sqlalchemy.engine.Engine [generated in 0.03480s] (('2011-11-03', 125.269997, 126.5, 123.599998, 126.25, 103.951668, 291174800), ('2011-11-04', 125.230003, 125.699997, 124.010002, 125.480003, 103.317719, 249401600), ('2011-11-07', 125.389999, 126.389999, 124.199997, 126.260002, 103.959915, 196617200), ('2011-11-08', 126.919998, 128.020004, 125.709999, 127.879997, 105.293808, 224426300), ('2011-11-09', 124.889999, 125.800003, 122.860001, 123.160004, 101.407448, 337982000), ('2011-11-10', 124.790001, 124.940002, 123.019997, 124.32, 102.362564, 231866500), ('2011-11-11', 125.830002, 126.989998, 125.790001, 126.660004, 104.289276, 189924400), ('2011-11-14', 126.190002, 127.449997, 124.919998, 125.459999, 103.301201, 159258300)  ... displaying 10 of 2516 total bound parameter sets ...  ('2021-11-01', 460.299988, 460.700012, 458.200012, 460.040009, 460.040009, 48433600), ('2021-11-02', 460.220001, 462.230011, 460.079987, 461.899994, 461.899994, 48854200))
2021-11-05 15:18:30,529 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:30,538 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-05 15:18:30,539 INFO sqlalchemy.engine.Engine [raw sql] ()

In [29]:
# Create the GLD table
gld_df.to_sql('GLD', engine, index=False, if_exists='replace')

2021-11-05 15:18:33,825 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("GLD")
2021-11-05 15:18:33,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:33,857 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("GLD")
2021-11-05 15:18:33,872 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:33,878 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:33,880 INFO sqlalchemy.engine.Engine
CREATE TABLE "GLD" (
	"Date" TEXT,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Adj Close" FLOAT,
	"Volume" BIGINT
)


2021-11-05 15:18:33,883 INFO sqlalchemy.engine.Engine [no key 0.00275s] ()
2021-11-05 15:18:33,887 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:33,893 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:33,995 INFO sqlalchemy.engine.Engine INSERT INTO "GLD" ("Date", "Open", "High", "Low", "Close", "Adj Close", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?)
2021-11-05 15:18:33,997 INFO sqlalchemy.engine.Engine [generated in 0.09792s] (('2011-11-07', 172.850006, 175.0, 172.710007, 174.979996, 174.979996, 20131900), ('2011-11-08', 174.350006, 175.460007, 172.899994, 173.529999, 173.529999, 16054200), ('2011-11-09', 174.279999, 174.809998, 171.610001, 172.070007, 172.070007, 12313900), ('2011-11-10', 172.429993, 172.589996, 168.830002, 171.139999, 171.139999, 11848700), ('2011-11-11', 172.100006, 174.050003, 172.070007, 173.960007, 173.960007, 8727100), ('2011-11-14', 173.740005, 173.860001, 172.589996, 173.199997, 173.199997, 5886400), ('2011-11-15', 173.350006, 173.809998, 171.899994, 173.360001, 173.360001, 9167900), ('2011-11-16', 171.630005, 172.960007, 170.570007, 171.509995, 171.509995, 15093300)  ... displaying 10 of 2516 total bound parameter sets ...  ('2021-11-03', 165.339996, 165.949997, 164.380005, 165.770004, 165.770004, 9055200), ('2021-11-04', 167.509995, 168.139999, 167.369995, 167.649994, 167.649994, 6654000))
2021-11-05 15:18:34,010 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:34,017 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-05 15:18:34,018 INFO sqlalchemy.engine.Engine [raw sql] ()

In [30]:
# Create the BTC table
btc_df.to_sql('BTC', engine, index=False, if_exists='replace')

2021-11-05 15:18:36,583 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BTC")
2021-11-05 15:18:36,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:36,587 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("BTC")
2021-11-05 15:18:36,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:18:36,593 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:36,595 INFO sqlalchemy.engine.Engine
CREATE TABLE "BTC" (
	"Date" TEXT,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Adj Close" FLOAT,
	"Volume" FLOAT
)


2021-11-05 15:18:36,597 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2021-11-05 15:18:36,601 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:36,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:18:36,655 INFO sqlalchemy.engine.Engine INSERT INTO "BTC" ("Date", "Open", "High", "Low", "Close", "Adj Close", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?)
2021-11-05 15:18:36,656 INFO sqlalchemy.engine.Engine [generated in 0.04098s] (('2014-11-05', 330.683014, 343.368988, 330.683014, 339.485992, 339.485992, 19817200.0), ('2014-11-06', 339.458008, 352.966003, 338.424011, 349.290009, 349.290009, 18797000.0), ('2014-11-07', 349.817993, 352.731995, 341.776001, 342.415009, 342.415009, 16834200.0), ('2014-11-08', 342.153992, 347.032013, 342.153992, 345.488007, 345.488007, 8535470.0), ('2014-11-09', 345.376007, 363.626007, 344.255005, 363.264008, 363.264008, 24205600.0), ('2014-11-10', 362.265015, 374.81601, 357.561005, 366.924011, 366.924011, 30450100.0), ('2014-11-11', 365.856995, 371.309998, 363.734985, 367.695007, 367.695007, 15838900.0), ('2014-11-12', 367.984985, 429.717987, 367.984985, 423.561005, 423.561005, 45783200.0)  ... displaying 10 of 2558 total bound parameter sets ...  ('2021-11-04', None, None, None, None, None, None), ('2021-11-05', 61431.667969, 62523.175781, 60914.828125, 61692.808594, 61692.808594, 32223369216.0))
2021-11-05 15:18:36,669 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:18:36,674 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-05 15:18:36,675 INFO sqlalchemy.engine.Engine [raw sql] ()

In [34]:
# Create the BND table
bnd_df.to_sql('BND', engine, index=False, if_exists='replace')

2021-11-05 15:25:40,447 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("BND")
2021-11-05 15:25:40,461 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:25:40,465 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("BND")
2021-11-05 15:25:40,466 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:25:40,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:25:40,473 INFO sqlalchemy.engine.Engine
CREATE TABLE "BND" (
	"Date" TEXT,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Adj Close" FLOAT,
	"Volume" BIGINT
)


2021-11-05 15:25:40,475 INFO sqlalchemy.engine.Engine [no key 0.00146s] ()
2021-11-05 15:25:40,480 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:25:40,487 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-11-05 15:25:40,530 INFO sqlalchemy.engine.Engine INSERT INTO "BND" ("Date", "Open", "High", "Low", "Close", "Adj Close", "Volume") VALUES (?, ?, ?, ?, ?, ?, ?)
2021-11-05 15:25:40,532 INFO sqlalchemy.engine.Engine [generated in 0.03889s] (('2011-11-07', 83.809998, 84.110001, 83.769997, 83.910004, 64.33107, 2067200), ('2011-11-08', 83.879997, 83.949997, 83.629997, 83.650002, 64.131729, 1891400), ('2011-11-09', 83.93, 83.93, 83.669998, 83.75, 64.20842, 1346800), ('2011-11-10', 83.610001, 83.769997, 83.449997, 83.650002, 64.131729, 2487500), ('2011-11-11', 83.620003, 83.639999, 83.510002, 83.589996, 64.085754, 698100), ('2011-11-14', 83.660004, 83.68, 83.470001, 83.599998, 64.093391, 1279600), ('2011-11-15', 83.639999, 83.720001, 83.5, 83.550003, 64.055092, 1323200), ('2011-11-16', 83.709999, 83.709999, 83.589996, 83.709999, 64.177727, 1705400)  ... displaying 10 of 2516 total bound parameter sets ...  ('2021-11-03', 85.389999, 85.410004, 85.07, 85.190002, 85.190002, 5058700), ('2021-11-04', 85.25, 85.580002, 85.239998, 85.580002, 85.580002, 5564100))
2021-11-05 15:25:40,542 INFO sqlalchemy.engine.Engine COMMIT
2021-11-05 15:25:40,546 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-05 15:25:40,547 INFO sqlalchemy.engine.Engine [raw sql] ()

In [35]:
engine.table_names()

2021-11-05 15:25:44,281 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-11-05 15:25:44,282 INFO sqlalchemy.engine.Engine [raw sql] ()

/Users/patrickbeeson/opt/anaconda3/envs/sqlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['BND', 'BTC', 'GLD', 'SPY']

2021-11-05 15:28:27,553 INFO sqlalchemy.engine.Engine
SELECT SPY.Date
FROM SPY
INNER JOIN BND
ON BND.Date = SPY.Date
INNER JOIN GLD
ON GLD.Date = BND.Date
INNER JOIN BTC
ON GLD.Date = BTC.Date

2021-11-05 15:28:27,554 INFO sqlalchemy.engine.Engine [raw sql] ()

            Date
0     2014-11-05
1     2014-11-06
2     2014-11-07
3     2014-11-10
4     2014-11-11
...          ...
1756  2021-10-27
1757  2021-10-28
1758  2021-10-29
1759  2021-11-01
1760  2021-11-02

[1761 rows x 1 columns]

In [41]:
# Alter SPY table by adding Sector column
query_alter_spy = """
ALTER TABLE SPY ADD COLUMN Sector TEXT
"""
engine.execute(query_alter_spy)

2021-11-05 15:32:29,326 INFO sqlalchemy.engine.Engine
ALTER TABLE SPY ADD COLUMN Sector TEXT

2021-11-05 15:32:29,328 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:32:29,332 INFO sqlalchemy.engine.Engine COMMIT

In [42]:
# Alter BND table by adding Sector column
query_alter_bnd = """
ALTER TABLE BND ADD COLUMN Sector TEXT
"""
engine.execute(query_alter_bnd)

2021-11-05 15:33:04,855 INFO sqlalchemy.engine.Engine
ALTER TABLE BND ADD COLUMN Sector TEXT

2021-11-05 15:33:04,857 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:33:04,864 INFO sqlalchemy.engine.Engine COMMIT

In [43]:
# Alter GLD table by adding Sector column
query_alter_gld = """
ALTER TABLE gld ADD COLUMN Sector TEXT
"""
engine.execute(query_alter_gld)

2021-11-05 15:33:40,730 INFO sqlalchemy.engine.Engine
ALTER TABLE gld ADD COLUMN Sector TEXT

2021-11-05 15:33:40,731 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:33:40,737 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
# Alter BTC table by adding Sector column
query_alter_btc = """
ALTER TABLE btc ADD COLUMN Sector TEXT
"""
engine.execute(query_alter_btc)

2021-11-05 15:34:10,663 INFO sqlalchemy.engine.Engine
ALTER TABLE btc ADD COLUMN Sector TEXT

2021-11-05 15:34:10,665 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:34:10,668 INFO sqlalchemy.engine.Engine COMMIT

In [45]:
# Update Sector column to SPY
update_sector = """
UPDATE SPY
SET Sector = 'SPY'
"""
engine.execute(update_sector)

2021-11-05 15:35:08,675 INFO sqlalchemy.engine.Engine
UPDATE SPY
SET Sector = 'SPY'

2021-11-05 15:35:08,677 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:35:08,687 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
# Update Sector column to BND
update_sector = """
UPDATE BND
SET Sector = 'BND'
"""
engine.execute(update_sector)

2021-11-05 15:35:47,777 INFO sqlalchemy.engine.Engine
UPDATE BND
SET Sector = 'BND'

2021-11-05 15:35:47,778 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:35:47,787 INFO sqlalchemy.engine.Engine COMMIT

In [47]:
# Update Sector column to BTC
update_sector = """
UPDATE BTC
SET Sector = 'BTC'
"""
engine.execute(update_sector)

2021-11-05 15:36:11,911 INFO sqlalchemy.engine.Engine
UPDATE BTC
SET Sector = 'BTC'

2021-11-05 15:36:11,912 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:36:11,918 INFO sqlalchemy.engine.Engine COMMIT

In [49]:
# Update Sector column to GLD
update_sector = """
UPDATE GLD
SET Sector = 'GLD'
"""
engine.execute(update_sector)

2021-11-05 15:38:00,255 INFO sqlalchemy.engine.Engine
UPDATE GLD
SET Sector = 'GLD'

2021-11-05 15:38:00,256 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-11-05 15:38:00,265 INFO sqlalchemy.engine.Engine COMMIT

In [68]:
# Join all tables together on the Date column, make LEFT join because fewer rows for BTC
join_sectors_df = f"""
SELECT SPY.Date, SPY.Sector, SPY.'Adj Close',SPY.volume, BND.Sector, 
BND.'Adj Close',BND.volume, GLD.Sector, GLD.'Adj Close', GLD.volume,
BTC.Sector, BTC.'Adj Close',BTC.volume
FROM SPY
LEFT JOIN BTC ON SPY.Date = BTC.date
INNER JOIN BND
ON BND.Date = SPY.Date
INNER JOIN GLD
ON GLD.Date = BND.Date

"""
Portfolio_df = pd.read_sql_query(join_sectors_df, con=engine)
Portfolio_df

2021-11-05 15:55:58,228 INFO sqlalchemy.engine.Engine
SELECT SPY.Date, SPY.Sector, SPY.'Adj Close',SPY.volume, BND.Sector,
BND.'Adj Close',BND.volume, GLD.Sector, GLD.'Adj Close', GLD.volume,
BTC.Sector, BTC.'Adj Close',BTC.volume
FROM SPY
LEFT JOIN BTC ON SPY.Date = BTC.date
INNER JOIN BND
ON BND.Date = SPY.Date
INNER JOIN GLD
ON GLD.Date = BND.Date


2021-11-05 15:55:58,231 INFO sqlalchemy.engine.Engine [raw sql] ()

,Date,Sector,Adj Close,Volume,Sector,Adj Close,Volume,Sector,Adj Close,Volume,Sector,Adj Close,Volume
0,2011-11-07,SPY,103.959915,196617200,BND,64.331070,2067200,GLD,174.979996,20131900,None,NaN,NaN
1,2011-11-08,SPY,105.293808,224426300,BND,64.131729,1891400,GLD,173.529999,16054200,None,NaN,NaN
2,2011-11-09,SPY,101.407448,337982000,BND,64.208420,1346800,GLD,172.070007,12313900,None,NaN,NaN
3,2011-11-10,SPY,102.362564,231866500,BND,64.131729,2487500,GLD,171.139999,11848700,None,NaN,NaN
4,2011-11-11,SPY,104.289276,189924400,BND,64.085754,698100,GLD,173.960007,8727100,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2509,2021-10-27,SPY,453.940002,72438000,BND,85.335861,7618400,GLD,168.119995,5823100,BTC,58482.386719,4.365708e+10
2510,2021-10-28,SPY,458.320007,51437900,BND,85.226036,6225800,GLD,168.080002,7000700,BTC,60622.136719,4.525708e+10
2511,2021-10-29,SPY,459.250000,70108200,BND,85.245995,8975200,GLD,166.649994,7531900,BTC,62227.964844,3.685688e+10
2512,2021-11-01,SPY,460.040009,48433600,BND,85.180000,5201400,GLD,167.520004,4975600,BTC,61004.406250,3.615057e+10
2513,2021-11-02,SPY,461.899994,48854200,BND,85.339996,4199400,GLD,167.160004,3760700,BTC,63226.402344,3.774667e+10