In [1]:
#import libraries
import os
import pandas as pd
import alpaca_trade_api as tradeapi
import dash
import dash_core_components as dcc
from dash import html
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots


# Load .env environment variables
from dotenv import load_dotenv
load_dotenv("api.env")

True

In [2]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [3]:
# Set the Tesla and Coca-Cola tickers
tickers = ["TSLA","BND","SPY","AMD","FB","AAPL"]

# Set timeframe to '1D'
timeframe = "1D"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2018-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-12-31", tz="America/New_York").isoformat()

# Set limit_rows to 1000 to retreive the maximum amount of rows
limit_rows = 1000

# Get 1 year's worth of historical data for Tesla and Coca-Cola
# YOUR CODE HERE!
df_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=limit_rows
).df

# Display sample data
df_ticker.head(10)

                             AAPL                                         AMD  \
                             open      high     low    close    volume   open
time
2018-01-02 00:00:00-05:00  170.16  172.3000  169.26  172.260  20523941  10.42
2018-01-03 00:00:00-05:00  172.53  174.5500  171.96  172.180  23193409  11.59
2018-01-04 00:00:00-05:00  172.54  173.4700  172.08  173.020  17742231  12.10
2018-01-05 00:00:00-05:00  173.44  175.3700  173.05  174.960  18402859  12.19
2018-01-08 00:00:00-05:00  174.31  175.6100  173.93  174.340  15554212  12.01
2018-01-09 00:00:00-05:00  174.55  175.0600  173.41  174.330  17267132  11.99
2018-01-10 00:00:00-05:00  173.16  174.3000  173.00  174.245  19012396  11.62
2018-01-11 00:00:00-05:00  174.59  175.4886  174.49  175.270  14222366  12.07
2018-01-12 00:00:00-05:00  176.18  177.3600  175.65  177.000  17956716  11.82
2018-01-16 00:00:00-05:00  177.91  179.3900  176.14  176.200  23154527  12.05

                                                              ...     SPY  \
                            high      low   close     volume  ...    open
time                                                          ...
2018-01-02 00:00:00-05:00  11.02  10.3400  10.990   39531765  ...  267.84
2018-01-03 00:00:00-05:00  12.14  11.1700  11.550  130937186  ...  268.95
2018-01-04 00:00:00-05:00  12.43  11.9700  12.115  102195729  ...  271.21
2018-01-05 00:00:00-05:00  12.22  11.6600  11.870   59609771  ...  272.50
2018-01-08 00:00:00-05:00  12.30  11.8500  12.280   56849225  ...  273.31
2018-01-09 00:00:00-05:00  12.02  11.7100  11.810   56782799  ...  274.40
2018-01-10 00:00:00-05:00  12.15  11.5600  11.960   46946562  ...  273.69
2018-01-11 00:00:00-05:00  12.19  11.9001  12.150   31409223  ...  274.75
2018-01-12 00:00:00-05:00  12.07  11.8000  12.030   41254013  ...  276.42
2018-01-16 00:00:00-05:00  12.20  11.8000  11.910   39446886  ...  279.35

                                                               TSLA            \
                             high     low   close    volume    open      high
time
2018-01-02 00:00:00-05:00  268.81  267.40  268.80  50844678  312.18  322.1099
2018-01-03 00:00:00-05:00  270.64  268.95  270.47  53141377  321.00  325.2500
2018-01-04 00:00:00-05:00  272.16  271.10  271.63  47841096  312.87  318.5500
2018-01-05 00:00:00-05:00  273.56  271.95  273.39  45782622  316.62  317.2400
2018-01-08 00:00:00-05:00  274.10  272.98  273.93  33627800  316.00  337.0199
2018-01-09 00:00:00-05:00  275.25  274.09  274.53  40421422  335.16  338.8000
2018-01-10 00:00:00-05:00  274.42  272.92  274.10  41575815  332.20  337.0000
2018-01-11 00:00:00-05:00  276.09  274.56  276.08  39159808  335.24  344.8099
2018-01-12 00:00:00-05:00  278.11  276.27  277.91  53855427  338.63  340.4100
2018-01-16 00:00:00-05:00  280.09  276.18  276.96  70240852  337.54  345.0000


                               low   close   volume
time
2018-01-02 00:00:00-05:00  311.000  320.29  3322648
2018-01-03 00:00:00-05:00  315.550  317.01  3232166
2018-01-04 00:00:00-05:00  305.680  314.62  7428996
2018-01-05 00:00:00-05:00  312.000  316.55  3563882
2018-01-08 00:00:00-05:00  315.500  336.41  7721537
2018-01-09 00:00:00-05:00  327.405  333.69  5589529
2018-01-10 00:00:00-05:00  330.000  334.72  2989825
2018-01-11 00:00:00-05:00  333.260  337.93  5333809
2018-01-12 00:00:00-05:00  333.670  336.22  3787311
2018-01-16 00:00:00-05:00  334.800  340.04  4636745

[10 rows x 30 columns]

In [4]:
# Create and empty DataFrame for closing prices

df_closing_prices = pd.DataFrame()
for ticker in tickers:
    df_closing_prices[ticker]=df_ticker[ticker]['close']
    


# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date
# Compute daily returns
df_daily_returns = df_closing_prices.pct_change().dropna()
# Display sample data
df_daily_returns.head(10)

                TSLA       BND       SPY       AMD        FB      AAPL
2018-01-03 -0.010241  0.000984  0.006213  0.050955  0.016811 -0.000464
2018-01-04 -0.007539 -0.000614  0.004289  0.048918 -0.000867  0.004879
2018-01-05  0.006134 -0.001352  0.006479 -0.020223  0.013346  0.011213
2018-01-08  0.062739  0.000246  0.001975  0.034541  0.007870 -0.003544
2018-01-09 -0.008085 -0.002892  0.002190 -0.038274 -0.001859 -0.000057
2018-01-10  0.003087 -0.000062 -0.001566  0.012701 -0.000319 -0.000488
2018-01-11  0.009590  0.000370  0.007224  0.015886 -0.000426  0.005883
2018-01-12 -0.005060  0.000000  0.006629 -0.009877 -0.044525  0.009870
2018-01-16  0.011362  0.000494 -0.003418 -0.009975 -0.005574 -0.004520
2018-01-17  0.020762 -0.001110  0.009568  0.022670 -0.004596  0.016459

In [5]:
# Visualize distribution of Tesla percent change in closing price using a histogram plot
df_daily_returns["TSLA"].plot.hist()

In [6]:
df_volume = pd.DataFrame()
for ticker in tickers:
    df_volume[ticker]=df_ticker[ticker]['volume']

# Drop the time component of the date
df_volume.index = df_volume.index.date
# Display sample data
df_volume.head(10)

               TSLA        BND       SPY        AMD        FB      AAPL
2018-01-02  3322648  2891040.0  50844678   39531765  14467954  20523941
2018-01-03  3232166  2044200.0  53141377  130937186  12994752  23193409
2018-01-04  7428996  1914914.0  47841096  102195729  10849386  17742231
2018-01-05  3563882  2547559.0  45782622   59609771  10140367  18402859
2018-01-08  7721537  2072870.0  33627800   56849225  11672962  15554212
2018-01-09  5589529  2606876.0  40421422   56782799   9847213  17267132
2018-01-10  2989825  3247217.0  41575815   46946562   8115277  19012396
2018-01-11  5333809  2693511.0  39159808   31409223   7154447  14222366
2018-01-12  3787311  2566717.0  53855427   41254013  60301294  17956716
2018-01-16  4636745  3977428.0  70240852   39446886  28190996  23154527

In [ ]:
app = dash.Dash()

# Create figure with secondary y-axis
#fig = make_subplots(specs=[[{"secondary_y": True}]])


fig_closing_prices = px.line(
    df_closing_prices,title='Daily Closing Prices',labels={"value": "Closing Price in USD"}
    #x="Date",
    #y="Daily Returns",
    #size="Population",
    #color="continent",
    #hover_name="Country",
    #log_x=True,
    #size_max=60,
)

fig_vol = px.area(df_volume, title='Daily Volume',labels={"value": "Daily Volume"})

fig_returns = px.line(df_daily_returns, title='Daily Returns',labels={"value": "Daily Returns"})

# Add traces
#fig.add_trace(
#    go.Scatter(x=df_closing_prices.index,title='Daily Closing Prices'),
#    secondary_y=False,row=1,col=1
#)


#fig=px.line(df_closing_prices,title='Daily Closing Prices')
#fig.add_volume()
                            
# Set x-axis title
#fig.update_xaxes(title_text="Date")

# Set y-axes titles
#fig.update_yaxes(title_text="<b>Daily Closing Price</b>", secondary_y=False)
#fig.update_yaxes(title_text="<b>Daily Volume</b>", secondary_y=True)



app.layout = html.Div( children=[
    html.H1(children='Portfolio Analysis Dashboard',style={
            'textAlign': 'center'}),
    html.H2(children='''
        All your Portfolio Analysis in one place
    '''),

    dcc.Graph(id="Daily Closing Prices", figure=fig_closing_prices)
                       ,dcc.Graph(id="Daily Volume", figure=fig_vol)
                       ,dcc.Graph(id="Daily Returns", figure=fig_returns)
                       #,dcc.Graph(id="Daily Returns and Volume", figure=fig)
                      
])

if __name__ == "__main__":
    #app.run_server(debug=True)
    app.run_server( port = 8092, dev_tools_ui=True, #debug=True,
              dev_tools_hot_reload =True, threaded=True)

Dash is running on http://127.0.0.1:8092/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8092/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Nov/2021 17:04:02] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:02] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:02] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:03] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:03] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:04] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:04] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:05] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:07] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:08] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:10] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:11] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:13] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:14] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:16] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:17] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:19] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:20] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:22] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:23] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:25] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:26] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:28] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:29] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:31] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:32] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:34] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:35] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:37] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:38] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:40] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:41] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:43] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:44] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:46] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:47] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:49] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:50] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:52] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:53] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:55] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:56] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:58] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:04:59] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:01] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:02] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:04] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:04] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:05] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:07] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:08] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:10] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:11] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:13] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:14] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:16] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:17] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:19] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:20] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:22] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:23] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:25] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:26] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:28] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:29] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:31] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:32] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:34] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:35] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:37] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:38] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:40] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:41] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:43] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:44] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:46] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:47] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:49] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:50] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:52] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:53] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:55] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:56] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:58] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:05:59] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:01] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:02] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:04] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:05] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:07] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:08] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:10] "GET /_reload-hash HTTP/1.1" 200 -
127.0.0.1 - - [06/Nov/2021 17:06:11] "GET /_reload-hash HTTP/1.1" 200 -