In [20]:
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets

In [21]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/ThuwarakeshM/geting-started-with-plottly-dash/main/life_expectancy.csv"
)
df = df.drop(df.columns[[0]], axis=1)

In [22]:
df.sample(100)

,Year,Status,Life expectancy,Population,GDP,Schooling,continent
871,2004,Developing,65.1,751652.0,145.588610,11.2,Americas
114,2013,Developed,81.1,8479375.0,554.715320,15.7,Europe
834,2009,Developing,57.3,1556524.0,436.689554,8.1,Africa
1088,2007,Developing,65.3,15484192.0,6771.414797,14.7,Asia
1355,2012,Developing,76.3,1282837.0,982.532572,12.7,Americas
...,...,...,...,...,...,...,...
1984,2013,Developed,83.0,889346.0,84658.887680,15.8,Europe
586,2005,Developing,69.7,9237566.0,3681.599300,12.6,Americas
1840,2005,Developed,77.5,2474.0,18169.189100,16.3,Europe
2225,2004,Developing,69.6,24143.0,1787.947230,10.7,Oceania
877,2014,Developing,63.1,1572466.0,83.114812,9.1,Americas

In [23]:
df['continent'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [31]:
#to build all unique widgets will be using for our data
age = widgets.IntSlider(
    value=1.0,
    min=1.0,
    max=100.0,
    step=10.0,
    description='Age:',
    continuous_update=False
)

use_year = widgets.Checkbox(
    description='Year: ',
    value=True,
)

container = widgets.HBox(children=[use_year, age])

textbox = widgets.Dropdown(
    description='Continent:   ',
    value='Americas',
    options=df['continent'].unique().tolist()
)

origin = widgets.Dropdown(
    options=list(df['Status'].unique()),
    value='Developing',
    description='Developing Country:',
)


# Assign an empty figure widget with two traces
trace1 = go.Scatter(x=df['GDP'], opacity=0.75, name='GDP')
trace2 = go.Histogram(x=df['Population'], opacity=0.75, name='Population')
g = go.FigureWidget(data=[trace1, trace2],
                    layout=go.Layout(
                        title=dict(
                            text='GDP DataBase'
                        ),
                        barmode='overlay'
                    ))

In [32]:
# function that will handle the input from the widgets
def validate():
    if origin.value in df['Status'].unique() and textbox.value in df['continent'].unique():
        return True
    else:
        return False


def response(change):
    if validate():
        if use_date.value:
            filter_list = [i and j and k for i, j, k in
                           zip(df['month'] == month.value, df['continent'] == textbox.value,
                               df['Status'] == origin.value)]
            temp_df = df[filter_list]

        else:
            filter_list = [i and j for i, j in
                           zip(df['continent'] == 'Americas', df['Status'] == Status.value)]
            temp_df = df[filter_list]
        x1 = temp_df['Life expectancy']
        x2 = temp_df['Population']
        with g.batch_update():
            g.data[0].x = x1
            g.data[1].x = x2
            g.layout.barmode = 'overlay'
            g.layout.xaxis.title = 'Life expectancy'
            g.layout.yaxis.title = 'Population Amount'


origin.observe(response, names="value")
textbox.observe(response, names="value")
month.observe(response, names="value")
use_date.observe(response, names="value")

In [33]:
container2 = widgets.HBox([origin, textbox])
widgets.VBox([container,
              container2,
              g])

VBox(children=(HBox(children=(Checkbox(value=True, description='Year: '), IntSlider(value=1, continuous_updateâ€¦